.calendar-month-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.all-months-container {
  display: flex;
  gap: 60px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.day-of-week {
  transition: 200ms;
  color: var(--black);
  text-decoration: none;
}

.day-of-week:hover {
  background-color: var(--grey);
}

